<h2 mat-dialog-title>{{ data.name }}</h2>
<mat-dialog-content>
  <div *ngIf="!isSubmitted && !ifError" class="dialog-form" id="main">
    <p>Please input your buy and sell threshold below.
      Our AI will manage the stock without requiring any input.
      Funds generated will be allocated to your account.</p>
    <form [formGroup]="manageForm" (ngSubmit)="sendToLLM()">
      <div class="form-group">
        <label for="buy">Buy: </label>
        <input
          placeholder="0.80"
          formControlName="buy"
          type="text"
          id="buy"
          name="buy"
          required
        >
      </div>
      <div class="form-group">
        <label for="sell">Sell: </label>
        <input
          placeholder="0.80"
          formControlName="sell"
          type="text"
          id="sell"
          name="sell"
        >
      </div>
      <div class="form-group">
        <label for="funds_dollar">Capital: </label>
        <input
          placeholder="499.99"
          formControlName="funds_dollar"
          id="funds_dollar"
          type="text"
        />
      </div>
      <button type="submit" [disabled]="manageForm.invalid">Manage</button>
    </form>
  </div>

  <div *ngIf="isSubmitted && ifError" class="dialog-form" id="error">
    <h2>Error: An error has occurred. Please contact support. No funds have been transferred.</h2>
  </div>

  <div *ngIf="isSubmitted && !ifError" class="dialog-form" id="sent">
    <h2>The stock is being managed! You can safely click out of this dialog</h2>
  </div>
</mat-dialog-content>
