.dialog-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  max-width: 34em;
}

.form-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

label {
  flex: 1;
  font-weight: bold;
  padding: 5px;
}

input {
  flex: 2;
  padding: 5px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
