<div class="register-container">
  <div class="register-left">
    <h1>Register</h1>
    <p>A flat registration fee of 100 EURO is required</p>
    <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
      <label for="name">First Name</label>
      <input
        type="text"
        id="name"
        placeholder="John"
        formControlName="name"
        required
      />

      <label for="surname">Surname</label>
      <input
        type="text"
        id="surname"
        placeholder="Doe"
        formControlName="surname"
        required
      />

      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        placeholder="johndoe@gmail.com"
        formControlName="email"
        required
      />

      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="**********"
        formControlName="password"
        required
      />
      <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.hasError('pattern')" class="error-message">
        Password must be at least 8 characters long, contain one uppercase letter, one lowercase letter, and one number.
      </div>

      <label for="confirmPassword">Confirm Password</label>
      <input
        type="password"
        id="confirmPassword"
        placeholder="**********"
        formControlName="confirmPassword"
        required
      />
      <div *ngIf="registerForm.get('confirmPassword')?.touched">
        <div *ngIf="registerForm.get('confirmPassword')?.hasError('required')" class="error-message">
          Confirm Password is required.
        </div>
        <div *ngIf="registerForm.get('confirmPassword')?.hasError('confirmedValidator')" class="error-message">
          Confirm Password must match the Password.
        </div>
      </div>

      <label for="role">Role</label>
      <div id="role">
        <label>
          <input
            type="radio"
            name="userType"
            value="admin"
            formControlName="userType"
            (change)="adminOrManager()"
            required
          />
          Admin
        </label>
        <label>
          <input
            type="radio"
            name="userType"
            value="manager"
            formControlName="userType"
            (change)="adminOrManager()"
            required
          />
          Manager
        </label>
      </div>
      <br />

      <div *ngIf="registerForm.get('userType')?.value === 'admin'">
        <label for="companyName">Company Name</label>
        <input
          type="text"
          id="companyName"
          placeholder="Enter company name"
          formControlName="companyName"
        />
        <label for="funds">Funds</label>
        <input
          type="text"
          id="funds"
          placeholder="Funds"
          formControlName="funds"
          (input)="formatCurrencyInput()"
        />
      </div>

      <div *ngIf="registerForm.get('userType')?.value === 'manager'">
        <label>Admin Emails (up to 5)</label>
        <div formArrayName="adminEmails">
          <div *ngFor="let emailControl of adminEmails.controls; let i = index">
            <div [formGroupName]="i">
              <input
                type="email"
                placeholder="Enter admin email"
                formControlName="email"
              />
              <button
                type="button"
                *ngIf="i !== 0"
                (click)="removeEmail(i)"
              >
                Remove Email
              </button>
            </div>
          </div>
        </div>

        <button
          type="button"
          (click)="addEmail()"
          [disabled]="adminEmails.length >= 5"
        >
          Add Email
        </button>
      </div>

      <button
        type="button"
        class="btn btn-signin"
        [disabled]="registerForm.invalid"
        (click)="goToPayPal()"
      >
        Pay and Register
      </button>
    </form>
  </div>
</div>

