<!--https://medium.com/@chandantechie/create-beautiful-login-page-using-angular-2089bf2e3d41-->
<title>Login</title>
<div class="login-container">
  <div class="login-left">
    <h1>Login</h1>
    <button class="btn btn-google" id="google" (click)="googleLogin()">Sign in with Google</button>
    <form [formGroup]="loginForm" (ngSubmit)="emailLogin()">
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" placeholder="johndoe@gmail.com" required>
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password" placeholder="********************" required>
      <button type="submit" class="btn btn-signin">Sign In</button>
    </form>
    <p>Don't have an account? <a routerLink="/registration">Register</a></p>
  </div>
</div>
